{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/main/css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    {% block style %}{% endblock %}
{% endblock %}

{% block body %}
    <div id="header"></div>

    <div id="menu">
        {{ 'label.welcome.user'|trans({'%user%': app.user.fullname}) }}
        <a href="{{ path('homepage') }}" {% if app.request.attributes.get('_route') == 'homepage' %}class="active"{% endif %} style="margin-left: 40px;">{{ 'label.menu.index'|trans }}</a> |
        <a href="{{ path('upload_logo') }}" {% if app.request.attributes.get('_route') == 'upload_logo' %}class="active"{% endif %}>{{ 'label.menu.uploadnewlogo'|trans }}</a>
        <a href="{{ path('logout') }}" style="float: right;margin-right: 15px; position: relative;z-index: 10;">Logout</a>
    </div>

    <div id="youtube">
        <a href="https://www.youtube.com/watch?v=K4oIswGhBco#t=2m38s" target="_blank"><img src="{{ asset('/bundles/main/images/watch_the_presentation2.png') }}" title="Watch the presentation"></a>
    </div>

    <div id="Statistiques">
        {{ render(controller('MainBundle:Section:statistique')) }}
    </div>
    {% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
    <!-- JavaScript Includes -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.knob.js') }}"></script>

    <!-- jQuery File Upload Dependencies -->
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.fileupload.js') }}"></script>

    <!-- Our main JS file -->
    <script type="text/javascript" src="{{ asset('bundles/main/js/functions.js') }}"></script>

    {% block javascript %}{% endblock %}
{% endblock %}