{% extends 'MainBundle::layout.html.twig' %}

{% block content %}

<div id="div_form">
    <!-- Section form -->
    <div id='div_upload' class="div_structure form-style-2">
        {{ form_start(form) }}

            <label class="inline"><span>{{ 'label.form.name'|trans }}<span class="required">*</span></span>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </label>

            <label class="inline"><span>{{ 'label.form.public'|trans }}&nbsp;<i class="fa fa-question-circle" title="{{ 'label.info.public'|trans }}"></i></span>

                {{ form_widget(form.public) }}
                {{ form_errors(form.public) }}
            </label>

            <label class="inline"><span>{{ 'label.form.logo'|trans }} (png)<span class="required">*</span></span>
                {{ form_widget(form.file) }}
                {{ form_errors(form.file) }}
            </label>
            <br>

            <input type="submit" value="{{ 'label.form.validate'|trans }}">
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}